.pink {
  width: 50%;
  font-style: italic;
  color: #ffffff;
  background-color: lightpink;
}

.description {
  font-weight: bold;
  font-style: normal;
  color: #ff9999;

}

.flashy {
  color: red;
  font-style: italic;

}

.best {
  color: blue;
  font-family: cursive;


}
